<div class="modal fade" id="ModalContainer" data-backdrop="static" data-keyboard="false">
    <input type="hidden" id="isFirstTime" value="0" />
    <!-- modal-dialog -->
    <div class="modal-dialog" style="width:80%">
        <!-- modal-content -->
        <div class="modal-content">
            @*<div class="loaderforWizard DisplayNone" id="loaderforWizard">
                <center><h2 class="LoaderHeading">Loading Please Wait... </h2>  </center>

            </div>*@
            <div class="modal-header backgroundColor">
                <button type="button" class="close setTabIndex" onclick="closeModalPopup();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title Color-White" id="ModalTitle">Modal Title</h4>
            </div>
            <div class="modal-body mob-pad-xs paddingCommon" id="modalbody">
                <div id="DialogPlaceholder"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
  
</script>

